<section class="advantages wrapper">
    <h2 class="advantages__heading">почему chocco?</h2>
    <p class="advantages__description">В нашем мире все происходит очень быстро, поэтому мы делаем батончики, которые удобно взять с собой.</p>
    <div class="advantages__list">
        <div class="advantage">
            <img src="./assets/img/icons/feature-one.svg" alt="Полезно" class="advantage__icon">
            <h3 class="advantage__title">Полезно</h3>
            <p class="advantage__description">Натуральность - ключевое качество нашей продукции. Мы используем только природные ингредиенты.</p>
        </div>
        <div class="advantage">
            <img src="./assets/img/icons/feature-two.svg" alt="Вкусно" class="advantage__icon">
            <h3 class="advantage__title">Вкусно</h3>
            <p class="advantage__description">Нежный, ненавязчивый, изысканный – так клиенты описывают вкусовые качества наших батончиков.</p>
        </div>
        <div class="advantage">
            <img src="./assets/img/icons/feature-three.svg" alt="Питательно" class="advantage__icon">
            <h3 class="advantage__title">Питательно</h3>
            <p class="advantage__description">Высокое содержание качественного белка, а также всех необходимых витаминов и минералов.</p>
        </div>
    </div>
</section>