<div class="products wrapper">
    <div class="product">
        <div class="product__photo">
            <img src="./assets/img/sections/product-one.png" alt="Батончик Гранола виноград">
        </div>
        <div class="product__detailes">
            <div class="product__consist">
                <img src="./assets/img/icons/product-consist.svg" alt="Батончик" class="product__consistIcon">
                <span class="product__consistText">Состав</span>
            </div>
            <h2 class="product_title">Батончик "Гранола виноград"</h2>
            <p class="product__description">
                Гранола из винограда, грецкого ореха и кунжутных семечек. В состав также входят: сухое молоко, заменитель сахара и какао бобы.
            </p>

            <div class="product__offers">
                <div class="product__offer">
                    <span class="product__offerTitle">Калорийность</span>
                    <span class="product__offerValue">110 ккал</span>
                </div>
                <div class="product__offer">
                    <span class="product__offerTitle">Вес</span>
                    <span class="product__offerValue">95 грамм</span>
                </div>
            </div>
            
            <div class="product__order">
                <span class="product__price">140 ₽</span>
                <a href="#" class="btn btn__green">Заказать</a>
            </div>
            
        </div>
    </div>
    <span class="arrow__prev"></span>
    <span class="arrow__next"></span>
</div>