<section class="reviews">
    <h2 class="reviews__heading">отзывы</h2>
    <div class="review">
        <img src="./assets/img/reviews/review-author-one.jpg" alt="" class="review__author">
        <div class="review__content">
            <h3 class="review__title">Лучший перекус</h3>
            <p class="review__text">Я ем малыми порциями, но часто. Это повышает мою продуктивность в разы. В течение дня сижу за компьютером и часто отходить в кафе или на кухню просто не могу себе позволить. А батончик – он всегда под рукой. Это приятно и удобно.</p>
            <span class="review__authorName">Алёна Хмельницкая</span>
        </div>
    </div>
    <div class="reviews__authors">
        <img src="./assets/img/reviews/circle_avatar_one.png" alt="" class="reviews__author">
        <img src="./assets/img/reviews/circle_avatar_one.png" alt="" class="reviews__author">
        <img src="./assets/img/reviews/circle_avatar_one.png" alt="" class="reviews__author">
    </div>
</section>